extends /layout/default

block style
  style
    :sass
      summary:focus
        outline: unset

block content
  .container-fluid
    h1.text-center 產品資訊
    .card
      .card-body.d-flex.flex-column.flex-md-row
        img.align-self-center.align-self-md-stretch(src="https://i.imgur.com/5Nu95Ni.jpg", style="width: 330px; height: 248px")
        .ml-md-3.flex-fill.d-flex.flex-column
          h3.product-name 空氣用壓力傳感器
          .d-flex.align-items-center.mt-1
            .mr-3.text-nowrap 分類
            .flex-fill.d-flex.align-items-center
              span.badge.badge-primary.mr-2 輔助裝置
              span.badge.badge-primary.mr-2 傳感器
          .d-flex.align-items-center.mt-1
            .mr-3.text-nowrap 型號
            .flex-fill.d-flex.align-items-center
              span.badge.badge-success.mr-2 PPG
          .d-flex.align-items-center.mt-1
            .mr-3.text-nowrap 系列
            .flex-fill.d-flex.align-items-center
              span.badge.badge-info.mr-2 PPG-C
              span.badge.badge-info.mr-2 PPG-D
          p.mt-3.mb-auto Ø31mm的緊湊型單畫面雙色顯示壓力開關。符合防護等級IP65。（配管形式：增加了內螺紋）
          details.mt-3
            summary 檔案下載 (3)
            ol
              li: a(target="_blank", href="https://suninx.com.tw/products_detail.php?id=5969&download=1") 型錄
              li: a(target="_blank", href="https://suninx.com.tw/upload/suninx/files/%E3%80%90NEW%E3%80%91PPG-D%E7%B3%BB%E5%88%97(1MB).pdf") 【NEW】PPG-D系列(1MB).pdf
              li: a(target="_blank", href="https://suninx.com.tw/upload/suninx/files/PPG-C%E7%B3%BB%E5%88%97.pdf") PPG-C系列.pdf
