nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-dark
  .container
    a.navbar-brand(href=baseurl) 山穎氣動
    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarSuninx", aria-controls="navbarSuninx", aria-expanded="false")
      span.navbar-toggler-icon
    #navbarSuninx.navbar-collapse.collapse
      .navbar-nav.mr-auto
        a.nav-link(href=baseurl) #[i.fa.fa-fw.fa-home] 關於我們
        a.nav-link(href=`${baseurl}products.html`) #[i.fa.fa-fw.fa-cube] 產品資訊
